/*
RT's embryonic CSS file for index view
*/

body {
font-family: Arial, sans-serif;
background-image: url('dna2.jpeg');
color: white;
}

p {
color: #D7CEF5; /*this is used for the text of the biography paragraph */
}

h2 {
margin-top: 5px;
}
a:link {
color: gray
}
a:visited {
color: #BD84E3
}
a:hover {
color: gray
}
a:active {
color: red
}

.humor {
font-style: italic;
}

.bullets {
color: #1BA8E0;
}

#toolkit {
position: absolute;
top: 65px;
left: 680px;
width: 500px;
}

#bio {
position: absolute;
background-color: rgba(25,25,50,0.7); /* Susan: This code makes the background translucent (70% opaque) w/o affecting the text */
border: 1px solid white; 
top: 250px;
left: 10px;
width: 572px;
padding-left: 6px;
padding-right: 6px;
padding-top: 0px;
padding-bottom: 6px;
}

#bio h2 {
padding-top: 0px;
}