/*
RT's embryonic CSS file for posts
*/
#newPostContent {
width: 500px;
height: 50px;
}

form { /* supersedes the sitewide css wrt width*/
width: 600px;
}

/*
body {
font-family: Arial, sans-serif;
color: blue;
}

table {
border: 1px solid black;
border: 0px; 
   padding: 5px;

}

th {
text-align: left;
   background-color: #9999CC;
color: white;
padding: 0.2em;
}

.fixedWidth_column {
width: 120px;
}

td {
border: 1 px solid black;
padding: 0.2em;
text-align: left;
background-color: #F0F0F0;
color: #9999CC;
color: gray;
font-size: small;
}
/* stolen CSS (borrowed?)
table.doctable, table.informaltable { 
   border: 0px; 
}
table.doctable td, table.doctable th, table.doctable caption,
table.informaltable td, table.informaltable th, table.informaltable caption { 
   padding: 5px;
}
table.doctable thead th, table.informaltable thead th { 
   background-color: #9999CC;
}
table.doctable tbody td, table.informaltable tbody td {
   background-color: #F0F0F0;
}

.formTitle {
font-size: large;
color: green;
}
form {
border: 1px solid gray; 
/* position isn't clear
top: 250px;
left: 10px;
width: 600px;
padding-left: 6px;
padding-right: 6px;
padding-top: 0px;
padding-bottom: 6px;
font-size: small;
}

.error {
color: red;
}

h2 {
margin-top: 5px;
}
/* LINK BEHAVIOR, REVERT TO DEFAULT FOR THE MOMENT.
a:link {
color: gray
}
a:visited {
color: #BD84E3
}
a:hover {
color: gray
}
a:active {
color: red
}
.humor {
font-style: italic;
}

.bullets {
color: #1BA8E0;
}

*/
