/*
RT's embryonic CSS file for index view
*/


#loginContainer {
position: absolute;
top: 100px;
left: 100px;
width: 700px;
height: 550px;
border: 1px solid gray; 
}


#loginForm {
position: absolute;
top: 150px;
left: 50px;
}


#signupForm {
position: absolute;
top: 150px;
left: 350px;
}