/*
RT's Style Sheet for P1
*/

body {
font-family: Arial, Helvetica, sans-serif;
background-image: url('dna2.jpeg');
color: white;
}

h1 {
font-family: Arial, Helvetica, "Trebuchet MS", sans-serif;
}

.humor {
font-style: italic;
}

#bio {
color: #1BA8E0;
}

.bullets {
color: #1BA8E0;
}

a:link {
color: gray
}

a:visited {
color: #BD84E3
}
a:hover {
color: white
}
a:active {
color: red
}
