/*
RT's requests CSS file
*/


.formTitle {
font-size: large;
color: green;
}

.pageTitle {
position: absolute;
top: 0;
left: 180px; 
}

form {
border: 1px solid gray; 
/* position isn't defined here
top: 250px;
left: 10px;
*/
width: 250px;
padding-left: 6px;
padding-right: 6px;
padding-top: 0px;
padding-bottom: 6px;
font-size: small;
}

.error {
color: red;
/* border: 1px solid red; */
}

h2 {
margin-top: 5px;
}

table {
border: 0px; 
padding: 5px;
}

th {
text-align: left;
/*background-color: #9999CC;*/
color: black;
padding: 0.2em;
}

.fixedWidth_column {
width: 200px;
}

td {
border: 1 px solid black;
padding: 0.2em;
text-align: left;
background-color: #F0F0F0;
color: #9999CC;
color: gray;
font-size: small;
}

.formTitle {
font-size: large;
color: green;

}

#requestList {
position: absolute;
top: 100px;
width: 730px;
 height: 250px;
border: 1px solid gray;
font-size: small;
left: 10px;
overflow-y: auto;
}
#results {
position: absolute;
top: 100px;
width: 730px;
 height: 250px;
border: 1px solid gray;
font-size: small;
left: 750px;
overflow-y: auto;
}

#detailAreaLabel {
position: absolute;
top: 340px;
left: 10px;
/* 
  border: 1px solid gray;
 */
margin: 2px;
padding: 2px;
padding-left: 5px;
padding-right: 6px;
padding-top: 0px;
padding-bottom: 6px;
width: 400px;
}

#firstButtonBar{
position: absolute;
top: 65px;
left: 10px;
/* 
border: 1px solid gray;
 */
}
#masterMenu{
position: absolute;
top: 40px;
left: 550px;
font-size: small;
/* 
border: 1px solid gray;
 */
}

#secondButtonBar{
position: absolute;
top: 360px;
left: 410px;
/* 
border: 1px solid gray;
 */
}

#sampleAreaLabel {
position: absolute;
top: 713px;
left: 10px;
/* 
border: 1px solid gray;
 */
margin: 2px;
padding: 2px;
padding-left: 5px;
padding-right: 6px;
padding-top: 0px;
padding-bottom: 6px;
width: 200px;
}
#thirdButtonBar{
position: absolute;
top: 733px;
left: 230px;
height: 20px; /* need to align text with button */
/* 
border: 1px solid gray;
 */
}
button {
padding-right: 20px;
padding-bottom: 5px;
padding-top: 0px;

}
#requestDetailUpper1{
position: absolute;
top: 390px;
width: 185px;
/*height: 90px;*/
/* 
border: 1px solid gray;
 */
font-size: small;
left: 10px;
font-size: small;
/*-moz-column-count:3; /* Firefox */
/*-webkit-column-count:3; /* Safari and Chrome */
/*column-count:3;*/
}
#requestDetailUpper2{
position: absolute;
top: 390px;
width: 185px;
/*height: 90px;*/
/* 
border: 1px solid gray;
 */
font-size: small;
left: 215px;
font-size: small;
/*-moz-column-count:3; /* Firefox */
/*-webkit-column-count:3; /* Safari and Chrome */
/*column-count:3;*/
}
#requestDetailUpper3{
position: absolute;
top: 390px;
width: 185px;
/*height: 90px;*/
/* 
border: 1px solid gray;
 */
font-size: small;
left: 420px;
font-size: small;
/*-moz-column-count:3; /* Firefox */
/*-webkit-column-count:3; /* Safari and Chrome */
/*column-count:3;*/
}

#requestDetailUpper4{
position: absolute;
top: 390px;
width: 185px;
/*height: 90px;*/
/* 
border: 1px solid gray;
 */
font-size: small;
left: 625px;
font-size: small;
/*-moz-column-count:3; /* Firefox */
/*-webkit-column-count:3; /* Safari and Chrome */
/*column-count:3;*/
}

#requestDetailLower{
position: absolute;
top: 470px;
width: 730px;
height: 260px;
border: 1px solid gray;
font-size: small;
left: 10px;
/* overflow-y: hidden; */
resize:both;
overflow:auto;

}

#sampleDetails{
position: absolute;
top: 760px;
width: 570px;
height: 150px;
overflow-y: auto;
border: 1px solid gray;
font-size: small;
}

#sampleBuilder {
position: absolute;
top: 735px;
width: 200px;
left: 605px;
/* 
height: 150px;
overflow-y: auto;
 */
border: 1px solid gray;
font-size: small;
}

@-webkit-keyframes ajax-loader-rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ajax-loader {
position: absolute;
top: 220px;
border: 1px solid gray;
left: 310px;

  opacity: .8;
  display: block;
  border-radius: 50%;

  font-size: 29px;
  width: .25em;
  height: .25em;

  box-shadow:
    0 -.4em       0 0 rgba(0,0,0,1),
    -.28em -.28em 0 0 rgba(0,0,0,.75),
    -.4em 0       0 0 rgba(0,0,0,.50),
    -.28em .28em  0 0 rgba(0,0,0,.25)
  ;

  -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
  -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
  animation: .85s ajax-loader-rotate steps(8) infinite;
}
/* was used for Susan's 'loading... ' message. replaced by ajax loading animation
#results {
height: 20px;
width: 100px;
border: 1px solid gray;
}
*/
.ascending { background: url('/images/sort_asc.png') no-repeat center right; }
.descending { background: url('/images/sort_desc.png') no-repeat center right; }

.ColorMe {
color: red;
}

.backgroundHighlight { background-color: pink}

.fieldLabel {
/* 
border: 1px solid gray;
 */
font-weight: bold;
  padding-left: 5px;
margin: 2px;
font-size: small;
}
.field {border: 1px solid gray;
padding-left: 5px;
margin: 2px;
  font-size: small;
}
.bigField {border: 1px solid gray;
padding-left: 5px;
margin: 2px;
  font-size: small;
  height: 50px;
  vertical-align: top;

  overflow-y: auto;
}
input[type="text"] {
padding-left: 5px;
margin-top: 2px;
padding-top: 0px;
font-size: x-small;
}
input[type="textarea"] {
padding-left: 5px;
margin-top: 2px;
padding-top: 0px;
font-size: x-small;
  height: 50px;
width: 650px;
}
textarea{
padding-left: 5px;
margin-top: 2px;
padding-top: 0px;
font-size: x-small;
  height: 50px;
width: 680px;
margin-left: 20px;

}
/* 

#btnNewRequest{
float: left;
}
#btnSaveReqChanges{
float: right;
}
 */

.sequenceContent { // wrap properly if a runon value of 100s of chars
word-wrap: break-word;
}

.shortInput {
width: 70px;
}