/*
RT's embryonic CSS file for index view
*/


#loginContainer {
position: absolute;
top: 100px;
left: 100px;
width: 700px;
height: 550px;
border: 1px solid gray; 
}
#loginForm {
position: absolute;
top: 150px;
left: 50px;
}

#smallLoginContainer{
position: absolute;
top: 250px;
left: 300px;
width: 600px;
height: 450px;
border: 1px solid gray; 
}

#soleLoginForm {
position: absolute;
top: 150px;
left: 150px;
}

#signupForm {
position: absolute;
top: 150px;
left: 350px;
}

#tinyNote {
position: absolute;
top: 500px;
left: 50px;

}


.formTitle {
font-size: large;
color: green;
}


.pageTitle {
position: absolute;
top: 0;
left: 180px; 
}

form {
border: 1px solid gray; 
/* position isn't defined here
top: 250px;
left: 10px;
*/
width: 250px;
padding-left: 6px;
padding-right: 6px;
padding-top: 0px;
padding-bottom: 6px;
font-size: small;
}

.error {
color: red;
/* border: 1px solid red; */
}

