body {
font-family: Arial;

}

.sequenceDisplay {
font-family: Courier;
width: 500px;
padding: 10px;
}

#sequenceInput {
height: 100px;
}

#styledSequence{
height: 300px; /* will be overridden once sequence becomes available */
}

.label {
width: 500px;
}

.instruction {
width: 500px;
}

#demoSequence{
background-color: pink;
}

#sequenceDisplay {
position: absolute;
top: 65px;
left: 680px;
width: 500px;
/* height: 400px; */
border: 1px solid gray;
font-size: small;
}

#plainSequence {
word-wrap: break-word;
}

#residueButtons {
position: absolute;
top: 65px;
left: 600px;
width: 30px;
}

.button {
width: 20px;
height: 18px;
border: 1px solid gray;
text-align: center;
padding-top: 0px;
border-radius: 6px;
/* background-color: #69D2E7; */
margin-top: 2px;
cursor:pointer;
	
}

.red {
color: red;
}

#comment {
padding: 10px;
font-size: large;
}

#createQuiz {
background-color: pink;
border-radius: 6px;
border: 1px solid gray;
width: 200px;
padding: 5px;
text-align: center;
margin-top:15px;
}

#quizArea {
/*border: 1px solid gray;*/
margin-top:15px;
width: 1230px;
}

.quizBox {
border: 1px solid gray;
width: 300px;
float: left;
}

table {
cursor:pointer;
border: 1px solid gray;
width: 180px;
float: left;
margin-left:40px;
padding:10px;
}

.column2 {
float: right;
}


.scoreboard {
height:40px;
padding: 20px;
margin-left: 60px;
}

.good {
color:green;
}

.bad {
color:red;
}

.quizButton {
border: 1px solid gray;
width: 20px;
height: 20px;
padding: 5px;
}

#quizHead{
text-align:center;
}
td {
cursor:pointer;
width: 80px;
border: 1px solid gray;
text-align: center;
height: 18px;
margin: 5px;
padding: 2px;
}
.left {}

.right{}

